body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.cake-card {
  transition: transform 0.3s ease;
  border-radius: 12px;
}

.cake-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.cake-card img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
